
/*Variables*/

$color-title: #1a1818;
$color-subtitle: #e63271;
$color-btn: #00a146;
$background-color: #ECF0F1;
$font-text:'Goudy Bookletter 1911', Georgia, Times, serif;
$title-text: 'Raleway', Helvetica, Arial, sans-serif;

body {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

/*INTRO*/

.splash {
  text-align: center;
  height: 100vh;
  position: relative;
}
.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 60px;
}

h2 {
  text-align: center;
  font-weight: bold;
}
.intro {
  background-image: url('https://images.pexels.com/photos/311458/pexels-photo-311458.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.welcome-title {
  font-family: $title-text;
  font-size: 30px;
  color: $color-title;
  margin-bottom: 20px;
}

.page-title {
  font-size: 80px;
  font-weight: bold;
  color:$color-subtitle;
}

.btn-one {
  background:inherit;
  color: $color-btn;
  border-color: $color-btn;
  font-weight: bold;
  padding: 20px;
  margin-top: 40px;
  width: 240px;

}

.btn-one:hover {
  background: $color-subtitle;
  background-position: 0 100%;
  border: $color-subtitle;
  color: white;

}


/*NAVIGATION*/

.nav-link {
  color: white;
  font-size: 20px;
}

.navbar-brand {
  font-size: 30px;
  padding-left: 100px;
  font-family: $font-text;
  color: $color-subtitle;
}


p {
    text-align: center;
    font-family: $font-text;
    color: gray;
}

/*Services*/

.row {
  padding-top: 20px;
}

.card-body {
  border: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.card-body i {
  font-size: 30px;
  color: $color-btn;
  background: white;
  border: 1px solid $color-btn;
  border-radius: 50%;
  width: 70px;
  line-height: 60px;
  text-align: center;
}


.slogan {
  font-style: italic;
  font-size: 20px;
}

.fas {
  padding-right: 0;
  padding-top: 0;
}


/*Portfolio*/

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.portfolio {
  background: $background-color;
}


 .card {
   text-align: center;
   border: none;
   background-color: white;
   padding-bottom: 10px;
   margin-bottom: 30px;
   padding-bottom: 10px;
}

.card p {
  margin-top: 0;

}
.card h3 {
  margin-bottom: 0;
}


 /*Footer*/

footer {
  bottom: 0;
  width: 100%;
}
 footer .contact {
     display: flex-center;
     padding-top: 0;
     padding-bottom: 0;
     text-align: center;
     background: white;
         ul {
             list-style-type: none;
             text-align: left;
             transform: translateX(-15%);
             li {
                 display: inline-block;
             }
       }
 }

 .contact p {
     letter-spacing: 1px;
     font-size: 0.90em;
     padding-top: 15px;
 }

 .contact a {
     text-decoration: none;
     color: black;
     font-size: 40px;
 }

  footer .container {
    text-align: left;
  }

  
  @media (max-width: 767px) {

    section {
          padding-top: 20px;
          padding-bottom: 20px;
          }
    
    .nav-list
      li {
        margin-right: 2px;
        margin-left: 2px;
    }
      .navigation ul {
        text-align: left;;
      }
    
    .page-title {
      font-size: 30px;
    
    }
    .page-subtitle {
      font-size: 20px;
    }
    
    .row {
      flex-direction: column;
    }
    
    .copyright {
        text-align: center;
        }
    
    footer .contact ul {
        transform: translateX(0%);
        text-align: center;
    }
    
    }
    


