

/*Variables*/


$color-title: #1a1818;
$color-subtitle: #e63271;
$color-btn: #00a146;



/*Navigation*/

.fas {

   margin: 20px;
   color: $color-btn;
}

.navbar-brand {
 font-style: italic;
 font-weight: 700;
}


/*Header*/

.splash {
  height: 100vh;
  position: relative;
  background-image: url('https://images.pexels.com/photos/311458/pexels-photo-311458.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.page-title {
    color: $color-title;
    font-size: 60px;
    margin: 48px 0 0 0;
    position: relative;
    text-shadow: 2px 2px 2px black;
}


.page-subtitle {
    color: $color-subtitle;
    font-size: 30px;
    margin: 50px 0 0 0;

}
 .btn {
  margin: 20px;
  background: inherit;
  color: $color-btn;
  border-color: $color-btn;
  font-weight: 700;
 }
